.show_user
  .row
    %aside.span4
      %section
        %h1
          = gravatar_for @user
          = @user.name

  %p
    %b= t('.email')
    = @user.email

  = link_to t('.work'), work_path, class: "main-button"


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', root_path
